Various Functions
    -> abs : return absolute value
    -> all : return true if all values are true and return false if any value is false
    -> any : return true if any value is true and return false if all value are false
    -> dir : list all the attributes present in that data class
    -> divmod : take 2 values as input and display quotent and remainder
    -> enumerate : use to itrate in list/tuple along with its counter
    -> filter : filter out the value that is true accordingly
    -> isinstance : returns true if the value belongs to the instance else return false
    -> map : map the data type to the itrable
    -> reduce -- in python3 from functools import reduce : use to reduce values from a itrable into single value
    -> sorted : it use to sort the itrable and store it in new variable. sorted does not make changes in the given data while sort and shuffle make changes in the given data only.

In [1]:
abs(-1.2)

1.2

In [2]:
abs(1.2)

1.2

In [3]:
all([1,2,3,4,5])

True

In [4]:
all([1,2,0,4,5])

False

In [5]:
any([0,0,0,0,5])

True

In [6]:
any([0,0,0,0,0])

False

In [7]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

In [8]:
divmod(20,3)

(6, 2)

In [10]:
divmod(100,5)

(20, 0)

In [11]:
l=[10,20,30,40,50]
for t in enumerate(l):
    print(t)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [12]:
l=[10,20,30,40,50]
for t in enumerate(l,start=1):
    print(t)

(1, 10)
(2, 20)
(3, 30)
(4, 40)
(5, 50)

In [13]:
l=[10,20,30,40,50]
for idx,val in enumerate(l,start=1):
    print(idx,"-->",val)

1 --> 10
2 --> 20
3 --> 30
4 --> 40
5 --> 50

In [52]:
l=[i for i in range(1,101)]
def fn(x):
    return x%2 == 0 
for ele in filter(fn,l):
    print(ele)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [15]:
for ele in filter(lambda x:x%2!=0,l):
    print(ele)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [20]:
for ele in filter(lambda x:int(x**0.5)==x**0.5,l):
    print(ele)

1
4
9
16
25
36
49
64
81
100

In [21]:
isinstance(2,int)

True

In [22]:
isinstance(2.4,int)

False

In [23]:
for ele in map(lambda x:x**2,l):
    print(ele)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000

In [24]:
for ele in map(lambda x:x-20,l):
    print(ele)

-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80

In [25]:
for ele in map(lambda x,y:x+y,l,range(100,201)):
    print(ele)

101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199
201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
251
253
255
257
259
261
263
265
267
269
271
273
275
277
279
281
283
285
287
289
291
293
295
297
299

In [26]:
from functools import reduce

In [27]:
reduce(lambda a,b:a+b,l[:10])

55

In [ ]:
reduce(lambda a,b:a+b,l[:10],100)   # 100 is initial value given

155

In [30]:
reduce(lambda a,b:min(a,b),l[:10])

1

In [31]:
max(l)

100

In [55]:
import random
random.shuffle(l)

In [56]:
l

[40,
 64,
 3,
 18,
 61,
 48,
 49,
 17,
 30,
 37,
 38,
 57,
 2,
 86,
 81,
 53,
 25,
 6,
 60,
 79,
 50,
 71,
 84,
 94,
 12,
 95,
 77,
 66,
 75,
 72,
 45,
 90,
 73,
 87,
 42,
 32,
 10,
 43,
 80,
 59,
 23,
 31,
 83,
 26,
 100,
 51,
 62,
 85,
 74,
 33,
 56,
 93,
 98,
 16,
 21,
 54,
 20,
 9,
 41,
 70,
 15,
 63,
 11,
 36,
 97,
 19,
 92,
 7,
 46,
 68,
 91,
 13,
 65,
 1,
 5,
 88,
 55,
 4,
 67,
 44,
 89,
 14,
 24,
 35,
 47,
 96,
 99,
 76,
 39,
 52,
 29,
 22,
 8,
 28,
 27,
 34,
 78,
 69,
 82,
 58]

In [37]:
l.sort()
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [57]:
l1=sorted(l)

In [58]:
print(l)

[40, 64, 3, 18, 61, 48, 49, 17, 30, 37, 38, 57, 2, 86, 81, 53, 25, 6, 60, 79, 50, 71, 84, 94, 12, 95, 77, 66, 75, 72, 45, 90, 73, 87, 42, 32, 10, 43, 80, 59, 23, 31, 83, 26, 100, 51, 62, 85, 74, 33, 56, 93, 98, 16, 21, 54, 20, 9, 41, 70, 15, 63, 11, 36, 97, 19, 92, 7, 46, 68, 91, 13, 65, 1, 5, 88, 55, 4, 67, 44, 89, 14, 24, 35, 47, 96, 99, 76, 39, 52, 29, 22, 8, 28, 27, 34, 78, 69, 82, 58]

In [59]:
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [60]:
l2=sorted(l)[::-1]
l2

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [63]:
l = [(10,20),(20,10),(15,30),(30,25),(10,15)]

In [64]:
sorted(l)   # sort according to first element

[(10, 15), (10, 20), (15, 30), (20, 10), (30, 25)]

In [ ]:
sorted(l,key=lambda x:x[1])   #sort according to second element

[(20, 10), (10, 15), (10, 20), (30, 25), (15, 30)]

In [ ]:
sorted(l,key=lambda x:-x[1])   # decreasing sort according to second element

[(15, 30), (30, 25), (10, 20), (10, 15), (20, 10)]

In [66]:
class Car:
    def __init__(self,model,speed,milage):
        self.model = model
        self.speed = speed
        self.milage = milage

In [67]:
car1 = Car("Toyota", 100, 10000)
car2 = Car("Honda", 120, 15000)
car3 = Car("Ford", 130, 18000)
cars = [car1, car2, car3]

In [69]:
for car in sorted(cars,key = lambda car:car.speed):
    print(car.model)

Toyota
Honda
Ford