VARIABLES:
-> KeyWords vs Identifier
-> Comments
-> Single Line vs Multiple Line
-> Multiple assignments
-> How do we Store a Variable it in the memory?
-> print
-> type and id

RULE:
1. cannot starts with number
2. not a keyword
3. can be alphanumeric
4. can start with underscore ( _ )

In [2]:
print("hello world")

hello world

In [3]:
a=10
b1='hello'
_a=20
print(a,b1,_a)

10 hello 20

In [5]:
import keyword
print(keyword.kwlist,len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'] 35

In [ ]:
# hello this is single line comment

# this is
# multiline
# comments

In [6]:
a=10
b=20
print(a,b)

10 20

In [7]:
a,b=10,20
print(a,b)

10 20

In [8]:
a=10+20+\
  300+40+\
  20+9
print(a)

399

In [9]:
print(type(a))

<class 'int'>

In [10]:
b='hello'
print(b)
print(type(b))

hello
<class 'str'>

In [11]:
id(a)

1832174579984

In [12]:
id(b)

1832164579520

DATA TYPES:
1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
8. None Type:	NoneType

In [13]:
a=100000000000000000000000000000000000000000000000000000
b=10.3
c=2+5j

print(a,type(a))
print(b,type(b))
print(c,type(c))

100000000000000000000000000000000000000000000000000000 <class 'int'>
10.3 <class 'float'>
(2+5j) <class 'complex'>

In [15]:
l=[1,2,3]
print(l,type(l))

[1, 2, 3] <class 'list'>

In [16]:
b=True
print(b,type(b))

True <class 'bool'>

In [17]:
a=None
print(a,type(a))

None <class 'NoneType'>

In [18]:
a='10'
print(a,type(a))
b=float(a)
print(b,type(b))

10 <class 'str'>
10.0 <class 'float'>

In [19]:
a='10abc'
print(a,type(a))
b=int(a)
print(b,type(b))

10abc <class 'str'>

ValueError: invalid literal for int() with base 10: '10abc'

OPERATORS:
Types of Operators
1. Airthmetic: +, -, *, /, %, //, **
2. relational: ==, <=, <, >=, >, !=
3. logical: and, or, not
4. Bitwise: &, |, ~, ^, <<, >>
5. Assignment: =, +=, -= ...
6. Special: is, is not, in, not in

In [20]:
a=10
b=120
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)
print(a==b)
print(a<=b)
print(a<b)
print(a>=b)
print(a>b)
print(a!=b)
print(a and b)
print(a or b)
print(not a)

130
-110
1200
0.08333333333333333
10
0
1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
False
True
True
False
False
True
120
10
False

In [21]:
a=10
b=10
print(id(a)==id(b))

True

In [22]:
a=2954
b=2954
print(id(a)==id(b))

False

integer m -254 to +254 k address phele se initialize hota h cashe memory m uske ilawa sabka koi address hota

HOW TO TAKE INPUT FROM USER

In [25]:
x=input("enter a number")
print(x)
print(type(x))

32
<class 'str'>

In [26]:
p = int(input("Enter Principal: "))
r = float(input("Enter Rate: "))
y = int(input("Enter Year: "))

si = (p*r*y)/100
print("Simple Interest: "+str(si))

Simple Interest: 300.0

If Else:
1. if .. else
2. if .. elif .... else
3. Nested if

In [33]:
a = 20
print("Hi")
if a%2 == 0:
  print("Number is even")
  print("Hello World")
else:
    print('Odd Number')
print("Bye")

Hi
Number is even
Hello World
Bye

In [28]:
age = 15
if age < 18:
    print("child")
else:
    if age < 60:
        print("adult")
    else:
        print("Senior Citizen")

child

In [29]:
age = 15
if age < 18:
    print("child")
elif age < 60:
    print("adult")
else:
    print("Senior Citizen")

child

In [34]:
age = 75
if age < 18:
    print("child")
elif age < 60:
    print("adult")
else:
    print("Senior Citizen")

Senior Citizen

In [30]:

marks = 100
if 80 <= marks and marks <= 100:
    print('A')
elif 60 <= marks and marks < 80:
    print('B')
elif 40 <= marks and marks < 60:
    print('C')
elif 0 <= marks and marks < 40:
    print('Fail')
else:
    print('Not Valid')

A

In [31]:
marks = 10
if 80 <= marks <= 100:
    print('A')
elif 60 <= marks < 80:
    print('B')
elif 40 <= marks < 60:
    print('C')
elif 0 <= marks < 40:
    print('Fail')
else:
    print('Not Valid')

Fail