SETS:
1. unordered collection of unique items
2. Using sets:
    -> we can test for membership
    -> whether a set is a subset of another set
    -> find intersection between two sets and so on
3. Can't be indexed

In [8]:
s={1,2,3,4,"hello",1,5,"shubham",10}
print(s,type(s))

{1, 2, 3, 4, 5, 10, 'hello', 'shubham'} <class 'set'>

In [4]:
s[0]

TypeError: 'set' object is not subscriptable

In [5]:
3 in s

True

In [6]:
"hello" in s

True

-> set(): use to convert other data type into set
-> add(): use to add element in the set
-> union(): use to find union of 2 sets given
-> intersection(): use to find intersection of 2 sets given
-> pop(): use to remove element from set
-> remove(): use to remove given element from the set if element is not present it will show error
-> discard(): use to remove given element from the set if element is not present it will not show any find of error
-> difference(): use to find the element different in one set from another
-> symmetric_difference(): use to find the different element in both the set from one another and combine them
-> issubset(): use to find out weather one is subset(set contains some/all elements from main set only) of other or not
-> issuperset(): use to find out weather one is superset(set containing all the elements of main set only) of other or not
-> isdisjoint(): use to find out ont is disjoint(have no common element) from of other of not

In [35]:
s={1,2,3,4,5}
len(s)

5

In [9]:
l=[1,2,3,4,3,2,4,2,1,3,1,3]
s=set(l)
print(s)

{1, 2, 3, 4}

In [11]:
s1={1,2,3,4}
s1.add(10)
print(s1)

{1, 2, 3, 4, 10}

In [ ]:
s={}  # this create an empty set
print(s,type(s))

{} <class 'dict'>

In [14]:
s=set()
print(type(s))

<class 'set'>

In [23]:
s1={1,2,3}
s2={3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [19]:
s1.intersection(s2)

{3}

In [20]:
print(s1)

{1, 2, 3}

In [ ]:
s1.pop()

{3}

In [ ]:
print(s1)

{2, 3}

In [27]:
s1={1,2,3,10,4}
s1.remove(10)
print(s1)

{1, 2, 3, 4}

In [28]:
s1={1,2,3,4}
s1.discard(10)

In [29]:
s1={1,2,3,4}
s2={3,4,5,6}

In [30]:
s2.difference(s1)

{5, 6}

In [31]:
s2.symmetric_difference(s1)

{1, 2, 5, 6}

In [32]:
s1.issubset(s2)

False

In [33]:
s1.issuperset(s2)

False

In [34]:
s1.isdisjoint(s2)

False

In [36]:
s1={1,2,3,4,5}
for ele in s1:
    print(ele)

1
2
3
4
5

DICTIONARY:
-> unordered collection of key:value pairs
-> mutable data structure
-> Heterogeneous
-> Immutable Keys
-> dict functions
-> traversal
-> Comprehension

In [40]:

d = {
    "India" : 1000,
    "USSR" : 150,
    "USA" : 100,
    1.1 : "one",
    2 : [1,2],
    (1,2,3) : "Tuple",
    # [1,2,3] : "List" # because list is mutable and key of the pair must be immutable
}
print(d,type(d))

{'India': 1000, 'USSR': 150, 'USA': 100, 1.1: 'one', 2: [1, 2], (1, 2, 3): 'Tuple'} <class 'dict'>

In [43]:
d["china"]="noodles"
print(d)

{'India': 1000, 'USSR': 150, 'USA': 100, 1.1: 'one', 2: [1, 2], (1, 2, 3): 'Tuple', 'china': 'noodles'}

In [44]:
d[(1,2,3)]

'Tuple'

In [45]:
d[3]

KeyError: 3

-> get(key): use to get value of key if key is present or default value
-> pop(key): use to remove key value pair of the given key
-> popitem(): use to remove last key value pair
-> del dic[key]: use to remove key value pair of the given key
-> keys(): use to get all the keys
-> values(): use to get all the values
-> items(): use to get all the key_value pairs 
-> fromkey(list,default_value): use to form dictionary using keys given in list with defalut value given
-> update(dict): use to update main dictionary by adding the pairs of given dictionary if key already exits in main dictionary it will get updated

In [46]:
print(d.get("india"))

None

In [47]:
print(d.get("deepti","good girl"))

good girl

In [48]:
d

{'India': 1000,
 'USSR': 150,
 'USA': 100,
 1.1: 'one',
 2: [1, 2],
 (1, 2, 3): 'Tuple',
 'china': 'noodles'}

In [49]:
d.pop("china")

'noodles'

In [50]:
d

{'India': 1000,
 'USSR': 150,
 'USA': 100,
 1.1: 'one',
 2: [1, 2],
 (1, 2, 3): 'Tuple'}

In [51]:
d.popitem()

((1, 2, 3), 'Tuple')

In [52]:
d

{'India': 1000, 'USSR': 150, 'USA': 100, 1.1: 'one', 2: [1, 2]}

In [53]:
del d["USA"]

In [54]:
d

{'India': 1000, 'USSR': 150, 1.1: 'one', 2: [1, 2]}

In [55]:
d.keys()

dict_keys(['India', 'USSR', 1.1, 2])

In [56]:
d.values()

dict_values([1000, 150, 'one', [1, 2]])

In [57]:
d.items()

dict_items([('India', 1000), ('USSR', 150), (1.1, 'one'), (2, [1, 2])])

In [58]:
d1=d.fromkeys([1,2,3,4],"Number")
d1

{1: 'Number', 2: 'Number', 3: 'Number', 4: 'Number'}

In [60]:
d.update(d1)
d

{'India': 1000,
 'USSR': 150,
 1.1: 'one',
 2: 'Number',
 1: 'Number',
 3: 'Number',
 4: 'Number'}

In [61]:
150 in d

False

In [62]:
"India" in d

True

In [64]:
for k in d:
    print(k,d[k])

India 1000
USSR 150
1.1 one
2 Number
1 Number
3 Number
4 Number

In [65]:
for t in d.items():
    print(t)

('India', 1000)
('USSR', 150)
(1.1, 'one')
(2, 'Number')
(1, 'Number')
(3, 'Number')
(4, 'Number')

In [66]:
s=set()
for i in range(10):
    s.add(i)
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [67]:
s=[i for i in range(10)]
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
for k,v in d.items():
    print(k,v)

India 1000
USSR 150
1.1 one
2 Number
1 Number
3 Number
4 Number

In [69]:
d={i:i**2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

-> Counter(list): use to count the occurance of all different keys in the list given

In [74]:
l = [1,2,3,1,4,1,2,4,5,2,3,1,2,3,4,6,8,6,5,6,66,64,31,22,4,1,2,31,66]
from collections import Counter
d = Counter(l)
print(d)

Counter({1: 5, 2: 5, 4: 4, 3: 3, 6: 3, 5: 2, 66: 2, 31: 2, 8: 1, 64: 1, 22: 1})

In [75]:
d = {}
for ele in l:
    # if ele in d:
    #     d[ele] += 1
    # else:
    #     d[ele] = 1

    d[ele] = d.get(ele,0)+1

print(d)

{1: 5, 2: 5, 3: 3, 4: 4, 5: 2, 6: 3, 8: 1, 66: 2, 64: 1, 31: 2, 22: 1}