STRING OPERATION:

1. String formatting
    -> +
    -> %s, %d
    -> format functions
    -> f-Strings
2. strip: Remove white spaces from the string
3. split
4. replace: replace all occurances in a string by a new one
5. count: count the number of occurances of a string within a string


NOTE: python does not have any data type as character

In [1]:
st="hello"
print(st)

hello

In [2]:
l=list(st)
print(l)

['h', 'e', 'l', 'l', 'o']

In [3]:
st[0],st[3]

('h', 'l')

In [4]:
for ch in st:
    print(ch)

h
e
l
l
o

In [5]:
st[1:3]

'el'

In [6]:
s1="hello"
s2="hello"

print(s1 is s2)
print(id(s1)==id(s2))

True
True

In [ ]:
# multiline string
s1='''Hello,
how are you.
nice to meet u.'''
print(s1)

Hello,
how are you.
nice to meet u.

In [9]:
s1

'Hello,\nhow are you.\nnice to meet u.'

In [12]:
s="hello"
for i in range(len(s)):
    for j in range(i+1,len(s)+1):
        print(s[i:j])

h
he
hel
hell
hello
e
el
ell
ello
l
ll
llo
l
lo
o

In [15]:
s='abc'+'def'
print(s)

abcdef

STRING FORMATING:
 
-> print("My name is: " + name + ". My age is: " + str(age))

-> print("My name is: %s. My age is: %d"%(name,age))

-> print("My name is: {}. My age is: {}".format(name,age))

-> print(f"My name is: {name}. My age is: {age}")

In [ ]:
name = "Shubham"
age = 27
print("My name is: " + name + ". My age is: " + str(age))

My name is: Shubham. My age is: 27

In [17]:
name = "Shubham"
age = 27
print("My name is: %s. My age is: %d"%(name,age))

My name is: Shubham. My age is: 27

In [18]:
name = "Shubham"
age = 27
print("My name is: {}. My age is: {}".format(name,age))

My name is: Shubham. My age is: 27

In [19]:
name = "Shubham"
age = 27
print(f"My name is: {name}. My age is: {age}")

My name is: Shubham. My age is: 27

In [20]:
print("My name is: {1}. My age is: {0}".format(name,age))

My name is: 27. My age is: Shubham

In [21]:
print("My name is: {a}. My age is: {n}".format(n = name,a = age))

My name is: 27. My age is: Shubham

strip() : use to remove whitespaces from left and right side
lstrip() : use to remove whitespaces from left side
rstrip() : use to remove whitespaces from right side

In [22]:
s="       the  sky is blue         "
print(s)
print(s.strip())
print(s.lstrip())
print(s.rstrip())

       the  sky is blue
the  sky is blue
the  sky is blue
       the  sky is blue

In [28]:
s="hello"
s[0]='A'

TypeError: 'str' object does not support item assignment

capitalize() : use to make first character capital and rest in lowercase
casefold() : use to convert all character in lowercase
count() : use to count the occurance of the string in the given string
find() : use to find the index of first occurance of the string
index() : use to find the index of the first occurance of the string
split() : use to split string on the basis of string/character given in bracket into list
title() : use to make the first character of each string in uppercase
join() : use to join list of string into string

In [23]:
s="hello"
print(s.capitalize())

Hello

In [24]:
s="HeLlo"
print(s.casefold())

hello

In [26]:
s="hellohellollolllollollo"
print(s.count("llo"))

6

In [29]:
s="hellohellollolllollollo"
print(s.find("llo"))

2

In [31]:
s="hellohellollolllollollo"
print(s.index("oh"))

4

In [32]:
s="  the sky is blue  "
l=s.split(" ")
print(l)

['', '', 'the', 'sky', 'is', 'blue', '', '']

In [34]:
s="the Sky is blUe"
print(s.title())

The Sky Is Blue

In [36]:
l=[str(i) for i in range(10)]
print(l)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [38]:
print('-'.join(l))

0-1-2-3-4-5-6-7-8-9

In [40]:
s="the sky is blue"
print(" ".join(s.split(" ")[::-1]))

blue is sky the

In [39]:
s="the sky is blue"
print(" ".join( str(i)[::-1] for i in s.split(" ")))

eht yks si eulb